/Makefile
*~
/bin
talks
papers
change.log
public_html
public_html.version
doc/*.pdf
doc/*.html
doc/*.txt
doc/*.six
doc/*Bib.xml
doc/*Bib.xml.bib
doc/*.aux
doc/*.bbl
doc/*.blg
doc/*.brf
doc/*.idx
doc/*.ilg
doc/*.ind
doc/*.log
doc/*.pnr
doc/*.tex
doc/*.toc
doc/manual.lab
*.DS_Store
/polymake
*.txt
/test
