/Makefile
*~
/bin
talks
papers
change.log
public_html.version
doc/*.pdf
doc/*.html
doc/*.txt
doc/*.six
doc/*Bib.xml
doc/*Bib.xml.bib
doc/*.aux
doc/*.bbl
doc/*.blg
doc/*.brf
doc/*.idx
doc/*.ilg
doc/*.ind
doc/*.log
doc/*.pnr
doc/*.tex
doc/*.toc
doc/*.out
doc/manual.lab
*.DS_Store
/polymake
*.txt
/test
.gitold/
libpolymake-dlopen.patch
/polymake-svn
/polymakesave
VERSION
doc/ToricVarieties.xml
doc/_AutoDocMainFile.xml
doc/_Chapter_Affine_toric_varieties.xml
doc/_Chapter_Installation_of_the_ToricVarieties_Package.xml
doc/_Chapter_Introduction.xml
doc/_Chapter_Projective_toric_varieties.xml
doc/_Chapter_Toric_Varieties.xml
doc/_Chapter_Toric_divisors.xml
doc/_Chapter_Toric_morphisms.xml
doc/_Chapter_Toric_subvarieties.xml
doc/title.xml
maketest.g
